@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@font-face {
    font-family: 'LCD 16X2';
    src: url(fonts/LCD\ 16X2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

a {
    margin: 0 0 10px 0;
    color: rgb(150, 150, 150);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 110px 0 10px 0;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    place-items: center;
    min-height: 100vh;
    background-color: black;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lcd {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    width: 300px;
    height: 75px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 5px;
}

#lcdTop {
    margin: 5px 0 0 0;
    padding: 0 15px 0 15px;
    text-align: left;
    font-size: 30px;
    font-family: 'LCD 16X2';
}

#lcdBottom {
    border: none;
    margin: 0 0 5px 0;
    padding: 0 15px 0 15px;
    text-align: left;
    font-size: 30px;
    font-family: 'LCD 16X2';
    color: white;
    background-color: transparent;
}

#details {
    color: white;
    font-size: 15px;
}

input::placeholder {
    color: white;
}

button {
    margin: 0 0 5px 0;
    padding: 0;
    width: 25px;
    height: 25px;
    display: inline;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    font-size: 15px;
}

#escape {
    width: 30px;
}

#enter {
    width: 50px;
}

#space {
    width: 200px;
}
