@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://db.onlinewebfonts.com/c/2427d7acdb15d5c064b9ced748f0da75?family=LED+Dot-Matrix');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    place-items: center;
    min-height: 100vh;
    background-color: black;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lcd {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    width: 365px;
    height: 75px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 5px;
}

#lcdTop {
    margin: 5px 0 0 0;
    padding: 0 15px 0 15px;
    text-align: left;
    font-size: 30px;
    font-family: "LED Dot-Matrix";
}

#lcdBottom {
    border: none;
    margin: 0 0 5px 0;
    padding: 0 15px 0 15px;
    text-align: left;
    font-size: 30px;
    font-family: "LED Dot-Matrix";
    color: white;
    background-color: transparent;
}

input::placeholder {
    color: white;
}

button {
    margin: 2px;
    padding: 0;
    width: 25px;
    height: 25px;
    display: inline;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

#reset {
    width: 50px;
    height: 50px;
    font-size: 15px;
}

#escape {
    width: 30px;
}

#backspace {
    width: 90px;
}

#enter {
    width: 50px;
}

#space {
    width: 200px;
}
