* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}

body {
    margin-left: auto;
    margin-right: auto;
    width: 407px;
    height: 700px;
    display: flex;
    flex-direction: row;
    place-items: center;
    background-color: black;
}

a {
    margin: 20px 0 0 85px;
    color:rgb(130, 130, 130)
}

h2 {
    margin: 10px 0 5px 45px;
    color: white;
}

.keypad {
    position: static;
    left: 0;
    bottom: 0;
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
}

#lcd {
    border: none;
    border-radius: 10px;
    margin: 5px 0 15px 15px;
    padding: 10px 15px 0 15px;
    height: 100px;
    width: 340px;
    text-align: right;
    color: red;
    font-family: 'Segment7Standard';
    font-weight: normal;
    font-style: italic;
    background-color: rgb(100, 10, 10);
    font-size: 75px;
}

#details {
    color: white;
    font-size: 15px;
    margin: 0px 50px 0px 105px;
}

input::placeholder {
    color: rgb(255, 0, 0);
}

button {
    margin: 4px;
    width: 50px;
    height: 50px;
    font-size: 17px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#execute {
    height: 108px;
    float: left;
    margin: 4px 8px 2px 4px;
}

#reset {
    height: 108px;
    float: right;
    margin: 4px 0 2px 0;
}

#int {
    height: 108px;
    float: right;
    margin: 3px 0 0 0;
}

.row1 {
    float: left;
}

.row2 {
    float: left;
}

.row3 {
    float: left;
}

.row4 {
    float: left;
    margin-bottom: 20px;
}
