@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@font-face {
    font-family: 'SSD';
    src: url(fonts/SSD.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 700px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    place-items: center;
    background-color: #000000;
}

a {
    margin: 20px 0 0 85px;
    color:rgb(130, 130, 130)
}

h2 {
    margin: 10px 0 5px 45px;
    color: white;
}

.keypad {
    position: static;
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
}

#lcd {
    border: none;
    border-radius: 10px;
    margin: 5px 0 15px 17px;
    padding: 0px 20px 0 20px;
    height: 60px;
    width: 305px;
    text-align: right;
    color: rgb(255, 4, 0);
    font-family: "SSD";
    background-color: rgb(80, 10, 10);
    font-size: 55px;
}

#details {
    color: white;
    font-size: 15px;
    margin: 0px 50px 0px 80px;
}

input::placeholder {
    color: rgb(255, 0, 0);
}

button {
    margin: 2px;
    width: 44px;
    height: 44px;
    font-size: 15px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px ;
    cursor: pointer;
}

#execute {
    height: 96px;
    float: left;
    margin: 2px 5px 2px 17px;
}

#reset {
    height: 96px;
    float: right;
    margin: 2px 20px 0 0;
}

#int {
    height: 96px;
    float: right;
    margin: 5px 20px 0 0;
}

.row1 {
    float: left;
    margin: 0 0 4px 0;
}

.row2 {
    float: left;
}

.row3 {
    float: left;
    margin: 3px 0 4px 15px;
}

.row4 {
    float: left;
    margin: 0px 0px 10px 15px;
}
